body {
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
p {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(8, 100px);
}

.board-space {
    height: 100px;
    width: 100px;
    position: relative;
}

.white-space {
    background-color: rgb(223, 202, 164);
}

.brown-space {
    background-color: rgb(124, 87, 56);
}

.winner-text {
    position: absolute;
    top: 85px;
    color: white;
    font-weight: bold;
    font-size: 75px;
}

.new-game-button {
    position: absolute;
    bottom: 85px;
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(0, 175, 79);
    border-style: solid;
    border-width: 7px;
    border-color: rgb(0, 109, 27);
    border-radius: 15px;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.new-game-button:hover {
    transform: scale(1.05);
}

.new-game-button:active {
    transform: scale(0.98);
}

.board-piece {
    height: 100px;
    width: 100px;
}

.clickable-piece {
    cursor: pointer;
}

.clickable-piece:hover {
    transform: scale(1.05);
}

.clickable-piece:active {
    transform: scale(0.98);
}

.valid-move-chip {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 238, 0);
    border-radius: 25px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.clickable-spot {
    cursor: pointer;
}

.clickable-black-piece {
    cursor: pointer;
}

.clickable-black-piece:hover {
    transform: scale(1.05);
}

.clickable-black-piece:active {
    transform: scale(0.98);
}